Label {
	font: Verdana 8px;
	color: black;
}

Composite Label {
	color: black;
}

Text {
	font: Verdana 8px;
}
/* Identifies only those SWT Text elements
appearing within a Composite */
Composite Text {
	background-color: white;
	color: black;
}

SashForm {
	background-color: #c1d5ef;
}
/* background uses a gradient */
.MTrimBar {
	background-color: white;
	color: white;
	font: Verdana 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

Shell {
	background-color: #e3efff #c1d5ef 60%;
}

In addition, create the following css /rainbow.css file . Shell {
	swt-background-mode: default;
	background-color: red orange yellow green orange 30% 60% 75% 95%
}

.MPartStack {
	font-size: 22px;
	color: orange;
}