<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.historyresearchenvironment.databaseadmin"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://org.historyresearchenvironment.databaseadmin/org.historyresearchenvironment.databaseadmin.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.historyresearchenvironment.databaseadmin/css/default.css">
         </property>
         <property
               name="appName"
               value="org.historyresearchenvironment.databaseadmin">
         </property>
      </product>
   </extension>

</plugin>
