<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.historyresearchenvironment.client"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://org.historyresearchenvironment.client/org.historyresearchenvironment.client.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.historyresearchenvironment.client/css/default.css">
         </property>
         <property
               name="appName"
               value="org.historyresearchenvironment.client">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="org.historyresearchenvironment.client.theme1s"
            label="Default Theme">
      </theme>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.historyresearchenvironment.client.preferences.HrePreferencePage"
            id="org.historyresearchenvironment.client.basepage"
            name="History Research Environment">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreClientPreferencesPage"
            id="org.historyresearchenvironment.clientpreferences"
            name="Client">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreUserPreferencesPage"
            id="org.historyresearchenvironment.client.userpreferences"
            name="User">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HREServerPreferencesPage"
            id="org.historyresearchenvironment.serverpreferences"
            name="Server">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreMonitorPreferencesPage"
            id="org.historyresearchenvironment.client.page4"
            name="Monitor">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreGuiLanguagePreferencesPage"
            id="org.historyresearchenvironment.client.page5"
            name="GUI Language">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreProjectPreferencesPage"
            id="org.historyresearchenvironment.client.page6"
            name="Project">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreLocationPreferencesPage"
            id="org.historyresearchenvironment.client.page7"
            name="Location">
      </page>
      <page
            category="org.historyresearchenvironment.client.basepage"
            class="org.historyresearchenvironment.client.preferences.HreHistoricalDatePreferencesPage"
            id="org.historyresearchenvironment.client.page8"
            name="Historical Date">
      </page>
   </extension>

</plugin>
