<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="HREUsergui"
         name="Usergui"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="org.hre.rcp">
         <property
               name="appName"
               value="org.hre.rcp">
         </property>
         <property
               name="cssTheme"
               value="org.historyresearchenvironment.usergui.theme1">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="org.historyresearchenvironment.usergui.theme1"
            label="Default Theme">
      </theme>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.historyresearchenvironment.usergui.preferences.BasePreferencesPage"
            id="org.historyresearchenvironment.usergui.properties"
            name="Base Preferences">
      </page>
      <page
            class="org.historyresearchenvironment.usergui.preferences.H2PreferencesPage"
            id="org.historyresearchenvironment.usergui.servers"
            name="H2 Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.historyresearchenvironment.usergui.preferences.DefaultValuesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="Usergui"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="org.historyresearchenvironment.usergui.Usergui">
         <property
               name="appName"
               value="org.historyresearchenvironment.usergui.Usergui">
         </property>
         <property
               name="applicationCSS"
               value="/HRE--History-Research-Environment/org.hre.v3/bundles/org.historyresearchenvironment.usergui/css/default.css">
         </property>
      </product>
   </extension>
</plugin>
